html, body, #home {
	height: 100%;
	overflow-x: hidden;
}


body {
	background: url(img/capa.png),
	url(img/ruido.png),
	linear-gradient(50deg, #ff4169, #7c26f8);
	background-attachment: fixed;
	font-family: Helvetica, Arial, sans-serif;
}

/*Barra de navegação*/
nav.navbar-transparente {
	padding-right: 15px 0;
	background: rgba(0, 0, 0, 0.6);
}

.cor-texto {
	color: white;
}

ul li a:hover {
	color: #9bf0e1;
}

.navbar-light .navbar-toggler {
	border-color: white ;
}

.divisor {
	width: 0.5px;
	background: white;
	margin: 12px 15px;
}

.capa {
	text-align: center;
}


/*Botão customizado*/
.btn-custom {
	color: white;
	border-radius: 500px;
	text-transform: uppercase;
	transition: background 0.4s, color 0.4s;
	padding: 10px 20px;
}

.btn-roxo {
	background: #7c25f8;
}

.btn-roxo:hover {
	background: #6207e3;
	color: white;	
}

.btn-branco {
	border: 2px solid white;
}

.btn-branco:hover {
	background-color: white;
	color: black;	
}

.carousel-control-next, .carousel-control-prev {
	width: 3%;
}

/*Estrutura de conteudos*/
.caixa {
	padding-top: 20px;
	padding-bottom: 20px;
}

#servicos {
	background: white;
}

#servicos h2, h3 {
	color: #7c25f8;
}

#recursos {
	color: white;
}

#recursos h3 {
	color: #9bf0e1;
}

#recursos h2 {
	color: white;
}

.albuns {
	padding: 10px 0;
}

.rotacionar {
	transform: rotate(30deg);
	padding-left: 80px;
}

/*Rodapé*/
footer {
	background: #000;
	padding: 50px 0 20px 0;
	position: relative;
}

footer h4 {
	color: #919496;
	font-size: 0.8em;
	text-transform: uppercase;
}

footer .navbar-nav a {
	color: white;
	font-size: 0.8em;
}

footer .navbar-nav a:hover {
	color: #9bf0e1;
	text-decoration: none;
}

footer ul {
	list-style: none;
}

footer ul li {
	float: right;
	margin: 0 5px;
}


/*Tipografia*/
h1 {
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
	color: white;
}

h2 {
	font-size: 3em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h3 {
	font-size: 2em;
	font-weight: 700;
	letter-spacing: -0.04em;
}






/*MediaQueries*/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
	h1 {
		font-size: 3em;
	}
	.btn-custom {
		margin: 10px 15px;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
	h1 {
		font-size: 4em;
	}
	.btn-custom {
		margin: 10px 15px;
	}
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	h1 {
		font-size: 5em;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	h1 {
		font-size: 6em;
	}
 }